@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #0da797;
  --color-primary-light: #b5ddd9;
  --color-secondary: #0c354d;
  --color-dark-brown: #9e7f5e;
  --color-light-brown: #f9deb2;

  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Open Sans", sans-serif;
}
